
.tile-list {
  text-align: center;
}
.tile-list .tile {
  text-align: center;
  width: 30%;

}

.article-list {
  color: #FFF;

}
.article-list em {
  font-size: 12px;
  color: #DFDFDF;
}

.anigif {
  display: block;
  width: 100%;
  text-align: center;
}
.anigif img {
  max-width: 400px;
  margin: 16px;
}
.anigif.top {
  margin-top:     50px;
}
.anigif.end {
  margin-bottom:  50px;
}
