---
layout: default
---
<section class="archive">
    <h1>Archived Posts from {{ page.month | to_month }}, {{ page.year }}</h1>
    <ol class="hatom">
    {% if page.posts_by_month[page.year][page.month] %}
      {% for post in page.posts_by_month[page.year][page.month] %}
        <li class="hentry"><article>
          <a href="{{ post.url }}" class="entry-title" rel="bookmark">{{ post.title }}</a>
          <time class="published updated"
                datetime="{{ post.date | date: "%Y-%m-%d" }}"
                pubdate>{{ post.date | date: "%B %d, %Y" }}</time>
          <div class="entry-summary">
            {{ post.Teaser | markdownify }}
          </div>
        </article></li>
      {% endfor %}
    {% endif %}
    </ol>
</section>
